<nav class="navbar navbar-expand static-top">

  <a class="navbar-brand mr-1 toggle-brandtitle" href="#">Transformative</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fa fa-bars fa-2x" style="color: #637595;"></i>
  </button>


  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow mx-1" >
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item "><a class="nav-link">|</a></li>
    <li class="nav-item ">
      <a class="nav-link" href="#">{{ name| titlecase}} &nbsp;
        <img src="https://res.cloudinary.com/dh7apsl5o/image/upload/v1527075390/muy_kdy7ix.png" class="rounded-circle" width="30px;" height="auto">
      </a>
    </li>
  </ul>

</nav>

